<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>搜索结果</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.0/semantic.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">MyBlog</h2>
        <a href="#" class=" m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
        <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
        <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
        <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
        <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
        <div class="right m-item item m-mobile-hide">
          <div class="ui icon inverted input m-margin-tb-tiny">
            <input type="text" placeholder="Search....">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <!--博客列表头部-->
      <div class="ui top attached segment">
        <div class="ui middle aligned two column grid">
          <div class="column">
            <h3 class="ui teal header">搜索结果</h3>
          </div>
          <div class="right aligned column">
            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}"> 14 </h2> 个
          </div>
        </div>
      </div>


      <!--一条博客的面板-->
      <div class="ui top attached teal segment">
        <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${pageInfo.list}">
          <div class="ui middle aligned mobile reversed stackable grid" >
            <div class="two"></div>
            <div class="fourteen wide column">
              <!--标题-->
              <h3 class="ui header" ><a href="#" th:href="@{/blog(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">Vue Element Ui + Springboot前后端分离 CRUD(增删查改)、分页查询 Demo</a></h3>
              <!--摘要-->
              <p class="m-text" th:text="|${blog.description}......|">最近两天刚刚学习完Springboot，决定做一个demo整合一下学习到的知识。由于前端所知甚少，所以前端会有一些小bug，但总的来说不影响功能。</p>
              <!--摘要下的item排版-->
              <div class="ui grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <!--id、头像-->
                    <div class="item">
                      <img src="../static/images/wechat.jpg" th:src="@{${blog.user.avatar}}"  alt="" class="ui avatar image">
                      <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}" >sshdg</a></div>
                    </div>
                    <!--时间-->
                    <div class="item">
                      <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                    </div>
                    <!--访问量-->
                    <div class="item">
                      <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                    </div>
                  </div>
                </div>
                <!--标签-->
                <div class="right aligned five wide column">
                  <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--footer-->
      <div class="ui bottom attached segment" th:if="${pageInfo.pages}>1">
        <div class="ui middle aligned two column grid">
          <div class="column">
            <a href="#" th:href="@{/search(pageNum=${pageInfo.prePage},query=${query})}"  th:if="${pageInfo.hasPreviousPage}" class="ui mini teal basic button">上一页</a>
          </div>
          <div class="right aligned column">
            <a href="#" th:href="@{/search(pageNum=${pageInfo.nextPage},query=${query})}"  th:if="${pageInfo.hasNextPage}" class="ui mini teal basic button">下一页</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <div class="item">
              <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced " >最新博客</h4>
          <div class="ui inverted link list">
            <a href="#" class="item m-text-thin">Springboot</a>
            <a href="#" class="item m-text-thin">Mybatis</a>
            <a href="#" class="item m-text-thin">数据结构</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
          <div class="ui inverted link list">
            <a href="#" class="item m-text-thin">WeChat：sshdg140135</a>
            <a href="#" class="item m-text-thin">QQ：972409718</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2016 - 2017 Lirenmi Designed by Lirenmi</p>
    </div>

  </footer>
  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.0/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

  </script>
</body>
</html>